.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  font-size: xx-large;
  color: rgb(0, 50, 216);
}

.nav-link:hover {
  border-top: 3px solid rgb(52, 53, 148);
  color: rgb(52, 53, 148);
}

.navb {
  background-color: white;
}

.jumbotext {
  text-indent: 20px;
  color: white;
}

.jumbo {
  background-color: dodgerblue;
  opacity: 100%;
}

.align-self-left {
  align-self: left;
}

.pBtn {
  margin-right: 52%;
}

.hr1 {
  background-color: dodgerblue;
  width: 10%;
  justify-self: center;
  height: 2px;
}

body {
  background: url(bg.jpg); /* Фоновый цвет и фоновый рисунок*/
  color: #fff; /*Цвет текста на странице*/
  background-attachment: fixed; /* Фон страницы фиксируется */
  background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}

.stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.toolDetail {
  color: black;
}

.dropdown {
  
}